p {
 font-size: larger;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: rgb(0, 0, 0);
padding: 5px;
border:10px solid blue;
background-color: lightslategray;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: lightskyblue;

}

body{
  background-color: black;
}

hr{
  color:whitesmoke;
  size: 10xp;
}

img{
  border:10px solid darkgrey;
  size-adjust: -10px;
}

li{
  color:whitesmoke;
  size-adjust: 10px;
  border:5px solid blue;
}

h2{
  color:beige;
  background-color: lightslategray;
  border: 10xp solid blue;
}

a{
  color:aliceblue;
  text-decoration: none;
}